node_modules/
.env
*.log
dist/
coverage/
.DS_Store
Thumbs.db

# SQLite development database (versiyaga tushmasligi kerak!)
prisma/dev.db
prisma/dev.db-journal

# Prisma migrations (development)
prisma/migrations/
